.slick-track {
    display: flex !important;
}
  
.slick-slide {
    padding: 20px;
}
  
.arrow-prev,
.arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.arrow-prev {
  left: 10px;
}

.arrow-next {
  right: 10px;
}

.simple-slider:not(.slick-initialized) .simple-slide-container:after {
    display: none;
  }