body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif; /* Add your preferred font-family */
}

.body-post {
  text-align: center;
}

.slider-container {
  background-color: #50c878;
  width: 1000px;
  margin: 0 auto;
}

.slick-next {
  background-color: green;
}

.slick-prev {
  background-color: green;
}
